# ignore everything
*

# include .gitignore
!.gitignore

# include .zsh
!*.zsh
!*.zsh/personal/*
!.zshrc

# include .config
!.config
!*.config/oh-my-posh
!*.config/oh-my-posh/*
!*.config/ghostty
!*.config/ghostty/*
!*.config/nvim
!*.config/nvim/**

# include .flox
!.flox
!*.flox/**

