# ignore everything
/*

# include .gitignore
!.gitignore

# include personal .dots
!*.dots
!*.dots/personal/*
!.zshrc

# include .config
!*.config/oh-my-posh
!*.config/oh-my-posh/*
!*.config/ghostty
!*.config/ghostty/*
!*.config/nvim
!*.config/nvim/**

# include .flox
!.flox
!*.flox/**

